<div>
  <table>
    <tbody>
      <tr>
        <td>title</td>
        <input [(ngModel)]='newRecipe.title'>
        <td>poster</td>
        <input [(ngModel)]='newRecipe.poster'>
        <td>category</td>
        <select [(ngModel)]='newRecipe.category'>
          <option value="Śniadanie">Śniadanie</option>
          <option value="Lunch">Lunch</option>
          <option value="Obiad">Obiad</option>
          <option value="Desery">Desery</option>
          <option value="Kolacja">Kolacja</option>
        </select>
        <td>time</td>
        <input [(ngModel)]='newRecipe.time'>
        <td>ingridiens</td>
        <input [(ngModel)]='newRecipe.ingridiens'>
        <td>desc</td>
        <input [(ngModel)]='newRecipe.desc'>
      </tr>
    </tbody>
  </table>
</div>
<app-button (clickButton)='addRecipe()'><span>Dodaj</span></app-button>
<app-button (clickButton)='goToRecipes()'><span>Wróc</span></app-button>
