<app-button (clickButton)='addRecipe()'><span>Dodaj</span></app-button>
<app-button (clickButton)='goToRecipes()'><span>Wróc</span></app-button>


<form [formGroup]="recipe" >
  <div>
    Tytul<input formControlName='title'>
  </div>
  <div>
    Zdjecie<input formControlName='poster'>
  </div>
  <div>
    Kategoria
    <select formControlName='category'>
      <option value="breakfast">Śniadanie</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Obiad</option>
      <option value="desert">Desery</option>
      <option value="supper">Kolacja</option>
    </select>
  </div>
  <div>
    Czas<input formControlName='time'>
  </div>
  <div>
    Opis<input formControlName='desc'>
  </div>
  <div formArrayName="ingridiens"
    *ngFor="let item of recipe.controls['ingridiens']['controls']; let i = index">
    <div [formGroupName]="i">
      Skladnik
      <input formControlName='name'>
    </div>
  </div>
  <button type="button" (click)="addNext()">Add Next</button>
  <button type="submit" (click)="submit()">Submit</button>

</form>
